/* Empty. Add your own CSS if you like */

#groupScheduleTable tr td:first-child {
  text-align:center;
  vertical-align: middle;
}

#groupScheduleTable tr td:nth-child(2) {
  padding-left: 1em;
}

select#teacherListSelect {
    max-width:90%;
}

.valign-middle {
    vertical-align: middle;
}
